@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: white;
  color: #4b5563; /* text-gray-600 */
}

/* Add these styles for inputs */
input, textarea {
  color: #4b5563 !important; /* text-gray-600 */
  background-color: white;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af; /* text-gray-400 */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
